.sup-list {
  display: contents;
  border-collapse: collapse;
  width: 60%;
  color: white;
  font-weight: lighter;
}

.section-table {
  display: inline-block;
  margin-top: 3rem;
}

td,
th {
  border: 1px solid #a8b8c9;
  padding: 0.5rem 0.4rem;
}

tr:nth-child(even) {
  background-color: #808f9e;
}

.btn-amount {
  position: relative;
  background: transparent;
}

.add-amount {
  position: absolute;
  bottom: 25%;
  right: 41%;
  color: white;
  font-size: 1rem;
}

.btn-return {
  margin-top: 3rem;
  background-color: transparent;
  color: #f1c95c;
  position: relative;
  padding: 0.7rem 1rem 0.7rem 1.8rem;
}

.arrow-left {
  position: absolute;
  position: absolute;
  top: 30%;
  right: 70%;
  font-size: 1rem;
  bottom: 2rem;
}
