.submit-item {
  display: inline-block;
  margin-top: 3rem;
}

input,
select {
  display: block;
  background: transparent;
  width: 13rem;
  padding: 8px 5px;
  margin: 0.4rem 0.5rem;
  border-radius: 8px;
  border: 1.5px solid #c17db8;
  color: white;
  font-size: 1.2rem;
  outline: none;
}

select {
  color: gray;
  width: 13.9rem;
}

button {
  position: relative;
  padding: 0.7rem 1.8em;
  margin: 8px;
  background: #75a3e4;
  border: none;
  border-radius: 5px;
  color: #0f0a19;
  font-weight: bold;
  outline: none;
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}

.btn-page-list {
  background-color: transparent;
  color: #4e6a92;
  padding: 0.7rem 1.8rem 0.7rem 1rem;
}

.arrow-right {
  position: absolute;
  top: 30%;
  left: 75%;
  font-size: 1rem;
  bottom: 2rem;
}
