.sup-list {
  display: contents;
  border-collapse: collapse;
  width: 60%;
  color: white;
  font-weight: lighter;
}

.section-table {
  display: inline-block;
  margin-top: 3rem;
}

td,
th {
  border: 1px solid #a8b8c9;
  padding: 0.5rem 0.4rem;
}

tr:nth-child(even) {
  background-color: #808f9e;
}

td:nth-child(4n) {
  text-align: end;
}

.btn-delete,
.btn-print {
  background: transparent;
  padding: 0 0.7rem;
}

.delete-icon,
.print-icon {
  color: white;
  font-size: 1rem;
  margin: 0 0.3rem;
}

.print-icon {
  font-size: 1.3rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 6rem;
  background-color: #f1c95c;
  opacity: 0.9;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 5px;
  position: absolute;
  z-index: 1;

  bottom: 124%;
  left: 165%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn-return {
  margin-top: 3rem;
  background-color: transparent;
  color: #f1c95c;
  position: relative;
  padding: 0.7rem 1rem 0.7rem 1.8rem;
}

.arrow-left {
  position: absolute;
  position: absolute;
  top: 30%;
  right: 70%;
  font-size: 1rem;
  bottom: 2rem;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
